@import url('https://fonts.googleapis.com/css?family=Cinzel');

.select {
    margin: 30px auto 15px;
	width: 90%;
	label {
		font-family: 'Cinzel', serif;
	}
}
select {
	border:none;
	background-image:none;
	background-color:transparent;
	-webkit-box-shadow: 0px 0px 3px -1px black;
	-moz-box-shadow: 0px 0px 3px -1px black;
	box-shadow: 0px 0px 3px -1px black;
	display: block;
}